/*
    Fill entire viewport
*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*
    The entire body is clickable

    NOTE: On android this is REQUIRED, otherwise 
    "clicks" (or tap) is mostly ignored.
*/
body {
    cursor:pointer;
}

/*
    Don't allow text to be selectable
*/
.nocopy {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/*
    Center the content
*/
.toppage {
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
}

.botpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    Text, its size will depend upon the viewport
*/
.onoff_text {
    font-size: 50vw;
    font-family: "Lucida Console", Courier, monospace;
}

.err_text {
    font-size: 50vw;
    font-family: "Lucida Console", Courier, monospace;
    color: red;
}

.sig_text {
    font-size: 7vw;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}

.rem_text {
    font-size: 7vw;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}
